.sw-container {
    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.sw-header {
    margin-top: 50px;
}

.sw-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 90%;
}

.sw-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
}

.sw-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
}