.SongSelector-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.SongSelector-header {
    font: 35px title;
    margin-top: 100px;
}
.SongSelector-subheader {
    margin-top: 20px;
    font: 15px poppins;
    text-align: center;
}

.SongSelections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 70%;
    margin-top: 50px;
}

.section-header {
    font: 25px subheader;
    padding: 5px;
}

.selection {
    border: 1px solid;
}

.Activity, .Mood, .Environment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1em solid #b9b8b8;
    box-shadow: 0.5px 1px 2px #888888;
    padding: 20px;
}

.selection-content {
    padding: 15px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selection {
    padding: 8px 15px;
    border: 0.5px solid #bbbaba;
    border-radius: 25px;
    background-color: #f4f4f4;
}

.selection:hover {
    border-color: blue;
    cursor: pointer;
}

.selection-submit {
    background-color: #8200FF;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin: 25px;
    margin-bottom: 100px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.selection-submit:hover {
    color: black;
}

@media(max-width: 750px) {

    .SongSelector-parent {
        padding: 50px;
    }

    .SongSelector-header {
        margin-top: 60px;
    }
    
    .SongSelector-subheader {
        margin-top: 20px;
    }

    .SongSelections {
        width: 100%;
        margin-top: 80px;
    }

    .selection-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .selection {
        padding: 5px;
    }

    .selection-submit {
        margin-top: 80px;
    }
}