@font-face {
    font-family: footer;
    src: url("../assets/Staatliches-Regular.ttf")
}

.footer {
    position: relative;
    display: flex;
    height: 6vh;
    background-color: black;
    z-index: 10;
}

.links, .message {
    font-size: 12px;
    font-family: footer;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: white;
}

.spacer {
    flex: 1;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}