.songs_spec_container {
    padding-top: 50px;
    font-size: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font: 25px subheader;
    color: white;
}

.song {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.song_photo {
    width: 25vw;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .song_photo {
        width: 90vw;
    }
}